ID: #{ order.id }
%br
Created: #{ order.created_at.to_fs(:long) }
%br
Promotion codes: #{ order.promotions.map(&:name).join(', ') || '-' }
%br
Discount codes: #{ order.discount&.name || '-' }
%br
%br
Total price: #{ order.total_price }&euro;
%br
%br
= button_to 'Complete', update_path(id: order.id), method: :patch
